body{
    background-color: #f8f5f2;
}
h1{
    text-align: center;
}
#Informations{
    /* リストの要素の中央寄せ*/
    list-style-type: none;
    text-align: center;
}
li{
    /* リストの各要素の設定 */
    display: inline-block;
    background-color: #ffffff;
    width: 500px;
    height: 290px;
    margin: 10px;
    vertical-align: top;
}
.explanations{
    /* リスト内の説明 */
    width: auto;
    height: auto;
}
.button-wrapper{
    /* ボタンの中央寄せ */
    text-align: center;
}
#StartLink{
    color: white;
    text-decoration: none;
}
#StartButton{
    /* 一番下のボタン */
    width: 300px;
    height: 50px;
}
