body{
    background-color: #f8f5f2;
}
h1{
    text-align: center;
}
#Informations{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    background-color: #ffffff;
    width: 500px;
    height: 290px;
    margin: 10px;
    vertical-align: top;
}
.explanations{
    width: auto;
    height: auto;
}
.button-wrapper{
    text-align: center;
}
#StartButton{
    width: 300px;
    height: 50px;
}
#StartLink{
    color: white;
    text-decoration: none;
}
